@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>

    <p>Click the button to get your coordinates.</p>

    <button onclick="getPositionAndSend()" id="findMe" >FindMe</button>
    <input type="text" id="user"/>
    <button onclick="stopPositionDetect()" id="stop">Stop</button>
    <p id="demo"></p>

    <script>
        var x = document.getElementById("demo");
        let item = {
            Latitude: 0,
            Longitude: 0,
            UserName: "none"
        };
        let userName = "me";
        let stop = false;
        const uri = 'https://b808ffe4488a.ngrok.io/api/userInfo';
        function stopPositionDetect() {
            stop = true;
            document.getElementById("findMe").disabled = false;
            document.getElementById("stop").disabled = true;
        }
        function waitforme(ms) {
            return new Promise(resolve => { setTimeout(resolve, ms); });
        }
        
        async function getPositionAndSend() {
            stop = false;
            userName = document.getElementById("user").value;
            if (!stop) {
                document.getElementById("findMe").disabled = true;
                document.getElementById("stop").disabled = false;
            }

            while (stop == false) {
                getLocation();
                await waitforme(3000);  
                    fetch(uri, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(item)
                    })
                        .then(response => response.json())
                        .then(() => {


                        })
                        .catch(error => console.error('Unable to add item.', error));

             
            }
        }

        function addUser() {
            getLocation();
                fetch(uri, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(item)
                })
                    .then(response => response.json())
                    .then(() => {


                    })
                    .catch(error => console.error('Unable to add item.', error));
          
        }
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function (position) {
                        x.innerHTML = "Latitude: " + position.coords.latitude +
                            "<br>Longitude: " + position.coords.longitude;
                        item.Latitude = position.coords.latitude;
                        item.Longitude = position.coords.longitude;
                        item.UserName = userName
                    },
                    function errorCallback(error) {
                        x.innerHTML = "Geolocation is not supported by this browser.";
                    },
                    {
                        timeout: 5000
                    }
                );
                
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
            item.Latitude = position.coords.latitude;
            item.Longitude = position.coords.longitude;
          
        }
       
    </script>
</body>
