@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>

    <p>Click the button to get your coordinates.</p>

    <button onclick="addUser()">Try It</button>
    
    <p id="demo"></p>

    <script>
        var x = document.getElementById("demo");
        const item = {
            Latitude: 0,
            Longitude: 0,
            userName: "FatalError"
        };
        const uri = 'https://fc60571482eb.ngrok.io/api/userInfo';
        function addUser() {
            getLocation();
                fetch(uri, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(item)
                })
                    .then(response => response.json())
                    .then(() => {


                    })
                    .catch(error => console.error('Unable to add item.', error));
          
        }
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
            item.Latitude = position.coords.latitude;
            item.Longitude = position.coords.longitude;
          
        }
       
    </script>
</body>
